<div class="row">
    <div class="col-lg-12">
        <h1 class="d-inline">Products</h1>
        <a routerLink="/admin/product" class="btn btn-success float-right mt-2">Product</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="table-scrollable">
            <table class="table table-bordered table-stripped">
                <tr>
                    <th>Sr.no</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Varieties</th>
                    <th>MRP</th>
                    <th>Price</th>
                    <th>In Stock</th>
                    <th>Is Active</th>
                    <th>Actions</th>
                </tr>
                <tr *ngFor="let product of products; let i = index;">
                    <td>{{ i + 1 }}</td>
                    <td>{{ product.name }}</td>
                    <td> <img src="{{ baseurl + product.imagePath }}" class="img-fluid" alt="" /></td>
                    <td> <a class="btn btn-warning" routerLink="/admin/product/varieties/{{ product._id }}">  {{ product.varieties.length }} </a></td>
                    <td>{{ product.mrp }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.instock }}</td>
                    <td>{{ product.isactive }}</td>
                    <td>
                        <a routerLink="/admin/product/{{ product._id }}" class="btn btn-primary btn-sm">Edit</a>
                        <button class="btn btn-danger btn-sm" (click)="deleteproduct(product._id)">Delete</button>
                    </td>
                    
                </tr>
            </table>
        </div>
    </div>
</div>